
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: lightgray;
}



.main-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-right: 50px;
}

.menu-item {
  position: relative;
  width: 100%;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: lightgray;
  list-style: none;
  transition: all 3s ease-out;
}

.dropped {
  display: flex;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
}